.diskWidget {
    border-top: 1px solid #809096;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.label {
    font-size: 16px !important;
    font-weight: lighter;
    color: #367fac !important;
    padding-left: 0 !important;
    margin-bottom: 5px;
}